<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>detail - guru</title>
</head>
<body>
<h1>Detail Guru</h1>
<form th:action="@{/guru/detail}" method="get">

    <label for="id">ID</label>
    <input id="id" type="text" th:value="${detail.id}"><br/>

    <label for="nama">Nama Guru</label>
    <input id="nama" type="text" th:value="${detail.namaGuru}"><br/>

    <label for="nip">NIP</label>
    <input id="nip" type="text" th:value="${detail.nip}"><br/>

    <label for="mapel">Mata Pelajaran</label>
    <input id="mapel" type="text" th:value="${detail.mataPelajaran}"><br/>

 <a th:href="@{/guru}">
     <button type="button">Close</button>
 </a>
</form>

</body>
</html>