<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>delete - customer</title>
</head>
<body>
<h1>Delete Data Customer</h1>
<form th:action="@{~/customer/remove}" method="post">

    <label for="id">ID</label><br/>
    <input id="id" name="id" th:value="${customer.id}"><br/>

    <label>Name Customer</label><br/>
    <input type="text" name="name" th:value="${customer.name}"><br/>

    <label>Email Customer</label><br/>
    <input type="email" name="email" th:value="${customer.email}"><br/>

    <label for="phone">Phone Customer</label><br/>
    <input id="phone" type="text" name="phone" th:value="${customer.phone}"><br/>

    <button type="submit">Delete</button>
    <a th:href="@{~/customer}">
        <button type="button">Back</button>
    </a>

</form>

</body>
</html>