<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>delete - product</title>
</head>
<body>
<h1>Delete Data Product</h1>
<form th:action="@{/product/delete}" method="post">

    <label for="id">ID</label>
    <input id="id" type="text" name="id" th:value="${product.id}"><br/>

    <label for="name">Name Product</label>
    <input id="name" type="text" name="name" th:value="${product.name}"><br/>

    <label for="price">Price Product</label>
    <input id="price" type="number" name="price" th:value="${product.price}"><br/>

    <button type="submit">Delete</button>
    <a th:href="@{~/product}">
        <button type="button">Back</button>
    </a>
</form>
</body>
</html>