<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>delete - siswa</title>
</head>
<body>
<h1>Delete Siswa</h1>
<form th:action="@{/siswa/remove}" method="post">

    <input type="hidden" name="id" th:value="${delete.id}">

    <label for="id">ID</label>
    <input id="id" type="text" th:value="${delete.id}"><br/>

    <label for="nama">Nama</label>
    <input id="nama" type="text" name="name" th:value="${delete.name}" readonly><br/>

    <label for="nis">NIS</label>
    <input id="nis" type="text" name="nis" th:value="${delete.nis}" readonly><br/>

    <button type="submit">Delete</button>

    <a th:href="@{/siswa}">
        <button type="button">Back</button>
    </a>

</form>

</body>
</html>
